<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @painting.title %>
</p>

<p>
  <strong>Artist:</strong>
  <%= @painting.artist %>
</p>

<p>
  <strong>Height cm:</strong>
  <%= @painting.height_cm %>
</p>

<p>
  <strong>Width cm:</strong>
  <%= @painting.width_cm %>
</p>

<p>
  <strong>Year:</strong>
  <%= @painting.year %>
</p>

<% comment_number = 0 %>
<strong>Comment:</strong>
<% for comment in @painting.comments %>
<p>
  <strong><%= "#{comment_number += 1}:" %></strong>
  <%= comment.content %>
</p>
<% end %>

<h2>Add a comment:</h2>
<%# This syntax `model: []` is for dealing with namespaced or nested routes which is what we have %>
<%# Documentation: http://guides.rubyonrails.org/form_helpers.html#dealing-with-namespaces %>
<%= form_with(model: [ @painting, @painting.comments.build ], local: true) do |form| %>
  <p>
    <%= form.label :content %><br>
    <%= form.text_area :content %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>

<%= link_to 'Edit', edit_painting_path(@painting) %> |
<%= link_to 'Back', paintings_path %>
